{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
.filter-clear{
  position: absolute;
  top:50%;
  right: 0;
  width: 120px;
  transform: translateY(-50%);
}
</style>

{% endblock stylesheets %}

{% block content %}

  <link href="/static/assets/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="/static/assets/js/tabulator.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/luxon.js"></script>
  <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Журнал сообщений</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <div>
                  <select class="border-radius-lg" id="filter-field" style="display: inline-block; margin-left: 10px; margin-bottom: 10px; height: 30px; width:120px">
                    <option></option>
                    <option value="date">Дата</option>
                    <option value="state">Статус</option>
                    <option value="action">Повторная отправка</option>
                  </select>
                  <select class="border-radius-lg" id="filter-type" style="display: inline-block; margin-bottom: 10px; height: 30px;">
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="!=">!=</option>
                    <option value="like">like</option>
                  </select>
                  <input class="border-radius-lg" id="filter-value" type="text" placeholder="value to filter"  style="display: inline-block; margin-bottom: 10px; height: 30px;">
                  <button class="border-radius-lg" id="filter-clear" style="display: inline-flex; margin-right: 10px;margin-bottom: 10px; height: 30px; position: absolute; right: 0;">Clear Filter</button>
                </div>
                <div class="border-radius-lg" id="table-container" style="display: inline-flex; margin-left: 10px;  margin-right: 10px; margin-bottom: 10px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <script>

    var tableData
    //Define variables for input elements
    var filterField = document.getElementById("filter-field");
    var filterType = document.getElementById("filter-type");
    var filterValue = document.getElementById("filter-value");

    //Trigger setFilter function with correct parameters
    function updateFilter(){

      var filterVal = filterField.options[filterField.selectedIndex].value;
      var typeVal = filterType.options[filterType.selectedIndex].value;

      if(filterVal == "function" ){
        filterType.disabled = true;
        filterValue.disabled = true;
      }else{
        filterType.disabled = false;
        filterValue.disabled = false;
      }

      if(filterVal){
        table.setFilter(typeVal, filterValue.value);
      }
    }

    const tableColumns = [
                { title: "Номер", field: "ID", frozen:true, hozAlign:"center", formatter:"rownum" },
                {
                  title: "Дата",
                  field: "datetime",
                  width:150,
                  formatter: "datetime",
                  formatterParams: {
                    inputFormat: "iso",
                    outputFormat: "yyyy/MM/dd",
                    invalidPlaceholder:"(invalid date)", 
                    timezone:"Asia/Almaty"
                  },
                  frozen:true 
                },
                { 
                  title: 'Отправленно', 
                  field: 'sentMessageDate',
                  width:150, 
                  formatter: 'datetime',
                  formatterParams: { 
                    inputFormat: "iso",
                    outputFormat: "yyyy/MM/dd",
                    invalidPlaceholder:"(invalid date)", 
                    timezone:"Asia/Almaty" }
                  },
                {
                    title: 'Статус',
                    field: 'state',
                    formatter: 'lookup',
                },
                {
                    title: 'Повторная отправка',
                    field: 'action',
                    formatter:"tickCross",
                    editor: true
                },
            ];

    function sendToServer(data) {

        const url = '/update_datas?table=' + 'documents'
        // Send the data to the server via a POST request
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
        .then(function(response) {
            if (response.ok) {
                // Data successfully updated on the server
            } else {
                // Handle error
                console.error("Error updating data");
            }
        })
        .catch(function(error) {
            // Handle network error
            console.error(error);
        });
    };

    function updateTableData(tableName) {
        const url = '/get_data?table=' + tableName
        // Fetch new data, e.g., via AJAX request
        fetch(url)
            .then(response => response.json())
            .then(newData => {
                // Update the table with the new data
                if (table) {
                  table.setData(newData);
                }
            })
            .catch(error => {
                console.error('Error updating table data:', error);
            });
    }

    const table = new Tabulator('#table-container', {
        data: tableData,
        columns: tableColumns,
        height:"550px",
        pagination:"local",
        paginationSize:15,
        paginationSizeSelector:[10, 15, 25],
        layout:"fitDataStretch",
        layoutColumnsOnNewData:true,
        footerElement:"<label></label>",
    });

    table.on("tableBuilt", function(){
        const url = '/get_data?table=' + 'documents'
        table.setData(url);
    });

    table.on("cellEdited", function(cell) {
        // Get the edited value
        var editedValue = cell.getValue();
        var originalData = cell.getRow().getData();

        if (originalData.action) {

          const newData = {
              "ID": originalData.ID,
              "state": "STDBY"
          };

          console.log(newData)

          // You can now send the edited value to your server using a POST request
          sendToServer(newData);
        }

    });

    //Update filters on value change
    document.getElementById("filter-field").addEventListener("change", updateFilter);
    document.getElementById("filter-type").addEventListener("change", updateFilter);
    document.getElementById("filter-value").addEventListener("keyup", updateFilter);

    //Clear filters on "Clear Filters" button click
    document.getElementById("filter-clear").addEventListener("click", function(){
      filterField.value = "";
      filterType.value = "=";
      filterValue.value = "";
      table.clearFilter();
    });

    // Update the table every minute (60,000 milliseconds)
    setInterval(function() {
        updateTableData('documents');
    }, 60000);


</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}